<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IdCardServlet</servlet-name>
        <servlet-class>servlets.pl.IdCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EducationHistoryServlet</servlet-name>
        <servlet-class>servlets.cv.EducationHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationServlet</servlet-name>
        <servlet-class>servlets.cv.OrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AchievementServlet</servlet-name>
        <servlet-class>servlets.cv.AchievementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCertificationServlet</servlet-name>
        <servlet-class>servlets.cv.EmployeeCertificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdCardServlet</servlet-name>
        <url-pattern>/IdCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EducationHistoryServlet</servlet-name>
        <url-pattern>/EducationHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationServlet</servlet-name>
        <url-pattern>/OrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AchievementServlet</servlet-name>
        <url-pattern>/AchievementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCertificationServlet</servlet-name>
        <url-pattern>/EmployeeCertificationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
